/*Contenedor de categorias*/
input[type="radio"]{
    display: none;
}
.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.container-category label{
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #f9e934;
    border-radius: 5px;
    cursor: pointer;
    color:black;
}

.container-category label:hover{
    opacity: 0.8;
}

/*Post - Publicaciones*/
.container-post{
    max-width: 1200px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin-top: 20px;
    padding: 20px;
}

.posts .post{
    background: #fff;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}
.post .ctn-img{
    width: 100%;
}
.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}
.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}
.ctn-tag{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}
.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}


.post button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background:black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.post button:hover{
    opacity: 0.5;
}

/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="ALGORITMO"]:checked ~ .posts .post:not([data-category~="ALGORITMO"]),
[value="LENGUAJESDEPROGRAMACION"]:checked ~ .posts .post:not([data-category~="LENGUAJESDEPROGRAMACION"]),
[value="LENGUAJESMASUSADOS"]:checked ~ .posts .post:not([data-category~="LENGUAJESMASUSADOS"]),
[value="INTELIGENCIAARTIFICIAL"]:checked ~ .posts .post:not([data-category~="INTELIGENCIAARTIFICIAL"]),
[value="BIGDATA"]:checked ~ .posts .post:not([data-category~="BIGDATA"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="ALGORITMO"]:checked ~ .container-category [for="ALGORITMO"],
[value="LENGUAJESDEPROGRAMACION"]:checked ~ .container-category [for="LENGUAJESDEPROGRAMACION"],
[value="LENGUAJESMASUSADOS"]:checked ~ .container-category [for="LENGUAJESMASUSADOS"],
[value="INTELIGENCIAARTIFICIAL"]:checked ~ .container-category [for="INTELIGENCIAARTIFICIAL"],
[value="BIGDATA"]:checked ~ .container-category [for="BIGDATA"]{
    background: black;
    color: #fff;
}

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: #f6f6f6;
}
